.search-result {
  display: flex;
  margin-left: 41px;
}

.search-result-card {
    margin-top: 10px;
}

.core-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 100px;
  width: 30%;
}

.general-info > * {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bathroom-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.bathroom-name {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
}

.bottom-border {
  margin-top: 10px;
  border: 1px solid #d9e0e7;
}

.more-info {
    display: flex;
    justify-content: flex-end;
}
